pipeline/pl_octubre.json
{
	"name": "pl_octubre",
	"properties": {
		"activities": [
			{
				"name": "BusquedaDB",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "EntradaDB",
						"type": "DatasetReference",
						"parameters": {
							"Schema": {
								"value": "@pipeline().parameters.Schema",
								"type": "Expression"
							},
							"Table": {
								"value": "@pipeline().parameters.Table",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "BusquedaDB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('BusquedaDB').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@concat('SELECT * FROM ',item().TABLE_SCHEMA, '.', item().TABLE_NAME WHERE item().TABLE_SCHEMA NOT IN ('dbo') )",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "EntradaDB",
									"type": "DatasetReference",
									"parameters": {
										"Schema": {
											"value": "@item().TABLE_SCHEMA",
											"type": "Expression"
										},
										"Table": {
											"value": "@item().TABLE_NAME",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ParquetSalidaOctubre",
									"type": "DatasetReference",
									"parameters": {
										"carpeta": {
											"value": "@item().TABLE_NAME",
											"type": "Expression"
										},
										"archivo": {
											"value": "@concat(item().TABLE_SCHEMA,'_',item().TABLE_NAME)",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"Schema": {
				"type": "String"
			},
			"Table": {
				"type": "String"
			}
		},
		"folder": {
			"name": "PruebaOctubre"
		},
		"annotations": []
	}
}